<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <p id="demo"></p>
    <p>Welcome to My Homepage222222<%=title%></p>
    <form action="/lidar/open" method="get">
       <input type="submit" value="Door Open">
    </form>
  </body>
</html>
